.header{
    height: 50px;
}
.header a{
    font-size; 22px;
    padding: 2px;
}
/* login register modal */
.modal-dialog{
    width: 450px;
}
.modal-header {
    height: 50px;
    padding: 0;
    background: #a2c3e8;
}
.modal-header h3{
    position: relative;
    left: 10px;
    top: 10px;
}
.auth_icons{
    position: relative;
    left: -30px;
    top: 10px;
}
.modal-body input{
    width: 370px;
    margin-top: 10px;
}
.modal-body button{
    width: 370px;
    margin-top: 10px;
}
#login_modal img{
    width: 28px;
    height: 28px;
}
.clear_float{
    clear: both;
}
.team_intro{
    width: 290px;
    height: 180px;
}
