{% extends "base.html" %}
{% block style %}
<link type="text/css" rel="stylesheet"
href="../static/css/bootstrap-datetimepicker.min.css"/>
{% endblock %}

{% block content %}
<h3 class="text-center"> Yearbook  </h3>
<div>
    <p>{{ team.title }}</p>
    <p>{{ team.intro }}</p>
</div>
<div class="">
    <form  action="{{url_for('add_event')}}" method="post"
        class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label for="dtp_input1" class="col-md-2 control-label">Event DateTime Picking</label>
                <div class="input-group date form_date col-md-5"
                    data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input1">
                    <input  class="form-control" name="event_time" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon
                            glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value="" /><br/>
            </div>

        <label>photo 
            <input type="file" class="form-control" name="file" />
        </label>
        <label> title
            <input type="text" class="form-control" name="event_title" 
            placeholder="title"/>
        </label>
        <label>content
            <textarea  class="form-control" name="event_content" rows="3">
            </textarea>
        </label>
        <input type="text" class="hide" name="team_id" value="{{team.id}}"/>
        <button type="submit"  class="btn btn-default">go</button>
    </form>
</div>
<div>
    {% for e in events %}
    <div>
        {{ e.timestamp.strftime('%Y-%m-%d') }}
        {{ e.title }} 
        {{ e.content }}
        {% for p in e.photos %}
        {{ p.path }}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" rel="script"
    src="../static/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" rel="script"
    src="../static/js/admin_team.js"></script>
{% endblock %}

