{% extends "base.html" %}
{% block style %}
<link type="text/css" rel="stylesheet" href="../static/css/home.css"/>
{% endblock %}

{% block content %}
<div class="header">
{% if session.logged_in %}
    <a class="pull-right" href="/profile">管理</a>
    <a class="pull-right" href="/logout">登出</a>
{% else %}
    <a class="pull-right" data-toggle="modal"
        data-target="#login_modal">登录</a>
    <a class="pull-right" data-toggle="modal"
        data-target="#register_modal">注册</a>
{% endif %}
</div>
<!-- login modal -->
<div class="modal fade" id="login_modal" tabindex="-1" role="dialog"
    aria-labelledby="login in " aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
                <h3> 登录 </h3>
                <div class="auth_icons">
                <a href="{{ url_for('auth_douban') }}"><img
                    src="../static/img/douban_icon.jpg"/></a>
                <a href="{{ url_for('auth_google') }}"><img 
                    src="../static/img/google_icon.jpg"/></a>
                </div>

            </div>
            <div class="modal-body">

                <div id="login_div">
                    <input type="text" class="form-control email"
                    placeholder="email"/>
                    <input type="password" class="form-control password"
                    placeholder="password"/>
                    <p class="show_error"> </p>
                    <button class="btn btn-info login_btn">submit</button>
                </div>

            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- register modal -->
<div class="modal fade" id="register_modal" tabindex="-1" role="dialog"
    aria-labelledby="login in " aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
                <h3> 注册 </h3>
            </div>
            <div class="modal-body">

                <div id="register_div">
                    <input type="text" class="form-control username" />
                    <input type="text" class="form-control email" 
                    placeholder="email"/>
                    <input type="password" class="form-control password" 
                    placeholder="password"/>
                    <p class="show_error"> </p>
                    <button class="btn btn-default register_btn">submit</button>
                </div>

            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- search -->
<div class="clear_float"></div>
<div class="input-group">
    <input type="text" class="form-control search_words" 
    placeholder="搜索你感兴趣的团队"/>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" id="search_button"><i class="glyphicon glyphicon-search"></i></button>
    </span>
</div>

<div class="row">
<div class="col-md-3">
    <p></p>
    <p> 不如试试下面这些？ </p>
    {% for t in tags %}
    <p><button class="btn btn-success tag_teams" value="{{t.id}}">{{ t.title }}</button></p>
    {%  endfor %}
</div>
<div class="col-md-9">
    <div id="search_results" class="row">
    </div>
</div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript" rel="script" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" rel="script" src="../static/js/home.js"></script>
<script type="text/javascript" rel="script" src="../static/js/ajax_log.js"></script>
{% endblock %}

