{% extends "base.html" %}
{% block style %}
<link type="text/css" rel="stylesheet" href="../static/css/login.css"/>
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<form action="{{ url_for('login') }}" method="post" class="loginForm">
    {{ login_form.hidden_tag() }}
    {{ render_field(login_form.email, class="login") }}
    {{ render_field(login_form.password, class="login") }}
    {{ render_field(login_form.remember_me, class="") }}
    </br><input type="submit" class="SubmitButton" value="登录" />
</form>
{% from "_formhelpers.html" import render_field %}
<form action="{{ url_for('register') }}" method="post" class="registerForm">
    {{ register_form.hidden_tag() }}
    {{ render_field(register_form.name, class="loginput") }}
    {{ render_field(register_form.email, class="logiInput") }}
    {{ render_field(register_form.password, class="legisnput" ) }}
    {{ render_field(register_form.confirm, class="logistput") }}
    <input type="submit" class="SubmitButton" value="提交" />
</form>
{% endblock %}
{% block script %}
<script type="text/javascript" rel="script" src="../static/js/jquery.js"></script>
{% endblock %}

