.btn-group-vertical{
	width: 200px;
}
.header{
	margin: 10px auto;
}
h1{
	text-align: center;
}
.add_event_div{
	position: absolute;
	margin:-280px 50px 20px 300px ;
}
.add_event_div,.add_category_div,.manage_member_div{
	background-color: #5cb85c;
	padding: 10px 10px;
	border-radius: 5px;
	color: #FFF;
}
.add_category_div{
	position: absolute;
	margin-left:300px;
	margin-top: -280px;
	margin-bottom: 20px;
	margin-right: 50px;
}
.manage_events_div{
	position: absolute;
	margin-left:300px;
	margin-top: -280px;
	margin-bottom: 20px;
	margin-right: 50px;
}
.manage_member_div{
	position: absolute;
	margin-left:300px;
	margin-top: -280px;
	margin-bottom: 20px;
	margin-right: 50px;
}