{% extends "base.html" %}
{% block style %}
<!--<link type="text/css" rel="stylesheet" href="../static/css/o.css"/>-->
<link rel="stylesheet" type="text/css" href="../static/css/x.css">
{% endblock %}

{% block content %}
<h3 class="text-center"><a href="{{url_for('index')}}">Yearbook</a></h3>
{% if is_admin %}
<div>
    <a href="/admin_team/{{ team.id }}" style="font-size:16px">管理团队</a>
</div>
{% endif %}
<div>
    <img src="{{ team.image_url }}" width="60" height="60"/>
    <p>{{ team.title }}</p>
    <p>{{ team.intro }}</p>
    {% if not is_member %}
    <a  data-toggle="modal" data-target="#send_message">join the team</a>
    {% endif %}
</div>

<!-- send message modal -->
<div class="modal fade" id="send_message" tabindex="-1" role="dialog"
    aria-labelledby="send_message" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
                <h3> send message </h3>
            </div>
            <div class="modal-body">
                <textarea class="form-control m_body" rows="3"
                    placeholder="message"></textarea>
                <button class="send_message" value="{{ team.id }}"
                    data-dismiss="modal">send</button>
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- view by categories -->
<div>
    <p>
    <a href="/show_team/{{team.id}}">all</a>
    </p>
    {% for c in categories %}
    <p>
    <a href="/show_team/{{team.id}}?c_id={{c.id}}">{{ c.title }}</a>
    </p>
    {% endfor %}
</div>

<!-- view by time -->
<div>
    <form action="{{url_for('show_team_time')}}" method="post">
        <input type="text" class="hide" name="team_id" value="{{team.id}}"/>
        <label> year</label>
        <select class="form-control" name="year">
            {% for year in year_range %}
            <option value="{{ year }}">{{year}}</option>
            {% endfor %}

        </select>
        <label> month</label>
        <select class="form-control" name="month">
            {% for month in range(1,13) %}
            <option value="{{ month }}">{{month}}</option>
            {% endfor %}

        </select>
        <input type="submit" class="form-control" value="go"/>
    </form>
</div>

<!-- Timeline -->
    <div class="fullblock blockwhite padding50">
        <div class="container">
            <div class="timeline-with">
                <div class="timeline-head">
                    <i class="icon-chat-1"></i>
                </div>
                <ul class="timeline">
                    {% for e in events %}
                    <li class="{%if loop.index is divisibleby 2%}rightli{%endif%} mypassion-animation" >
                        <div class="timeline-post clearfix">
                            <div class="timeline-dot"></div>
                            <div class="timeline-date">
                                <span>
                                    {{ e.timestamp.date() }}
                                </span>
                            </div>
                            <div class="timeline-post-wrap">
                                <div class="post-type">
                                    <img src="/static/upload/{{ e.photos.first().path }}" alt="{{ e.title }}">
                                </div>
                                <h1 class="post-title">
                                    <a href="#">{{ e.title }} </a>
                                </h1>
                                <p>{{ e.content }}</p>
                                <div class="timeline-meta">
                                    <a href="#" class="more">
                                        "Read More"
                                        <i class="icon-right-open">
                                        </i>
                                    </a>
                                    <a href="#" class="timeline-comments">
                                        <i class="icon-comment">
                                            "45"<!-- numbers of comments -->
                                        </i>
                                    </a> 
                                </div>
                            </div>
                        </div>
                    </li>

                    {% endfor %}
                </ul>
                <div class="timeline-nav"></div>
            </div>
        </div>
    </div>
    <!-- /Timeline -->
<!--
<div>
    {% for e in events %}
    {{ e.timestamp }}
    {{ e.title }} 
    {{ index, e.content }}
    {% if is_member %}
        <button class="load_comments" value="{{ e.id }}">comment</button>
        <div>
        <input type="text" class="form-control c_body"/>
        <button class="add_comment" value="{{ e.id }}">send</button>
        <div id="event-{{e.id}}"></div>
        </div>
    {% endif %}
    {% endfor %}
-->
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" rel="script" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" rel="script" src="../static/js/show_team.js"></script>
{% endblock %}

