<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/x.css">
	<script type="text/javascript" rel="script" src="../static/js/bootstrap.min.js"></script>
	<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" rel="script" 
            src="../static/js/jquery-1.10.2.js"></script>
</head>
<body>
	<!-- Timeline -->
	<div class="fullblock blockwhite padding50">
		<div class="container">
			<div class="timeline-with">
				<div class="timeline-head">
					<i class="icon-chat-1">
					</i>
				</div>
				<ul class="timeline">
					<li class="mypassion-animation">
						<div class="timeline-post clearfix">
							<div class="timeline-dot"></div>
							<div class="timeline-date">
								<span>
									"this is the event date"
								</span>
							</div>
							<div class="timeline-post-wrap">
								<div class="post-type">
									<img src="img" alt="">
								</div>
								<h1 class="post-title">
									<a href="#">This is the event title</a>
								</h1>
								<p></p>
								<div class="timeline-meta">
									<a href="#" class="more">
										"Read More"
										<i class="icon-right-open">
										</i>
									</a>
									<a href="#" class="timeline-comments">
										<i class="icon-comment">
											"45"<!-- numbers of comments -->
										</i>
									</a> 
								</div>
							</div>
						</div>
					</li>
					<li class="rightli mypassion-animation">
						<div class="timeline-post clearfix">
							<div class="timeline-dot"></div>
							<div class="timeline-date">
								<span>
									"this is the event date"
								</span>
							</div>
							<div class="timeline-post-wrap">
								<div class="post-type">
									<img src="img" alt="">
								</div>
								<h1 class="post-title">
									<a href="#">This is the event title</a>
								</h1>
								<p></p>
								<div class="timeline-meta">
									<a href="#" class="more">
										"Read More"
										<i class="icon-right-open">
										</i>
									</a>
									<a href="#" class="timeline-comments">
										<i class="icon-comment">
											"45"<!-- numbers of comments -->
										</i>
									</a> 
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="timeline-nav"></div>
			</div>
		</div>
	</div>
	<!-- /Timeline -->
</body>
